{% extends "layout.html" %}

{% block body %}
    {% if current_user.is_authenticated %}
        {{ current_user }}
    {% endif %}

<div class="container">


  <div id="create_task" class="row">
    <div class="col-12">
{% if current_user.is_admin() %}
      <form class="form-horizontal" action="/create_task" method="POST">
        <div class="form-group">
          <div class="col-sm-12 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <select class="form-control" name="assigned_to_id" id="assigned_to_id" title="Zvoľ šoféra">
              {% for u in active_users %}
                <option value="{{ u.id }}"  data-icon="glyphicon-user">{{ u.username }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input class="form-control" type="text" name="origin" id="origin" placeholder="{{ _('Origin') }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input class="form-control" type="text" name="destination" id="destination" placeholder="{{ _('Destination') }}">
          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name="comment" id="comment" placeholder="{{ _('Comment') }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="form-control btn btn-default" type="submit">{{ _('CreateTask') }}</button>
        </div>
        </div>
      </form>
{% endif %}
    </div>
  </div>



  <!-- **************************   -->

  <div class="row">
      <div class="col">
          <div id="tasks"></div>
      </div>
  </div>

</div>

<div id="start_progress_div" style="display: none;">
</div>


{% if current_user.is_admin() %}
<script id="mp_template" type="text/template">
<!-- *************************** -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>{{ _('Id') }}</td>
                <td>{{ _('CreatedAt') }}</td>
                <td>{{ _('CreatedBy') }}</td>
                <td>{{ _('Assignee') }}</td>
                <td>{{ _('Origin') }}</td>
                <td>{{ _('Destination') }}</td>
                <td>{{ _('Comments') }}</td>
                <td>{{ _('Status') }}</td>
                <td>{{ _('Archived') }}</td>
                <td>{{ _('Price') }}</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <%#.%>
            <tr>
                <td><% id %></td>
                <td><% created_at %></td>
                <td><% created_by %></td>
                <td><% assigned_to %></td>
                <td><% origin %></td>
                <td><% destination %></td>
                <td style="white-space:pre" class="koment"><% comments %></td>
                <td class="nezacala"><% status_localized %></td>
                <td><% archived %></td>
                <td><% value %></td>
                <td>
                    <div class="btn-group-vertical">
                    <%#can_start_progress %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startProgressModal" data-task_id="<% id %>">{{ _('AssignToMe') }}</button>
                    <%/can_start_progress %>
                    <%#can_add_comment %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCommentModal" data-task_id="<% id %>">{{ _('AddComment') }}</button>
                    <%/can_add_comment %>
                    <%#can_finish_task %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finishTaskModal" data-task_id="<% id %>">{{ _('FinishTask') }}</button>
                    <%/can_finish_task %>
                    <%#can_archive_task %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#archiveTaskModal" data-task_id="<% id %>">{{ _('Archive') }}</button>
                    <%/can_archive_task %>
                    <%#can_edit_task %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editTaskModal" data-task_id="<% id %>">{{ _('EditTask') }}</button>
                    <%/can_edit_task %>
                    </div>
                </td>
            </tr>
            <%/.%>
        </tbody>
    </table>
</script>
{% else %}
<script id="mp_template" type="text/template">
<!-- *************************** -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>{{ _('CreatedAt') }}</td>
                <td>{{ _('Assignee') }}</td>
                <td>{{ _('Origin') }}</td>
                <td>{{ _('Destination') }}</td>
                <td>{{ _('Comments') }}</td>
                <td>{{ _('Status') }}</td>
                <td>{{ _('Price') }}</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <%#.%>
            <tr>
                <td><% created_at %></td>
                <td><% assigned_to %></td>
                <td><% origin %></td>
                <td><% destination %></td>
                <td style="white-space:pre" class="koment"><% comments %></td>
                <td class="nezacala"><% status_localized %></td>
                <td><% value %></td>
                <td>
                    <div class="btn-group-vertical">
                    <%#can_start_progress %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startProgressModal" data-task_id="<% id %>">{{ _('AssignToMe') }}</button>
                    <%/can_start_progress %>
                    <%#can_add_comment %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCommentModal" data-task_id="<% id %>">{{ _('AddComment') }}</button>
                    <%/can_add_comment %>
                    <%#can_finish_task %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finishTaskModal" data-task_id="<% id %>">{{ _('FinishTask') }}</button>
                    <%/can_finish_task %>
                    </div>
                </td>
            </tr>
            <%/.%>
        </tbody>
    </table>
</script>
{% endif %}

<script>
function fetch_tasks() {
        $.getJSON('/api/tasks', function (tasks) {
            var template = $("#mp_template").html();
            var text = Mustache.render(template, tasks);
            $("#tasks").html(text);
        })
        .fail(function(xhr, status) {
            console.log("Failed: " + status);
        });
}

$(function () {
    $("#btn").on('click', fetch_tasks);
    fetch_tasks();
    window.setInterval(fetch_tasks, 10000);
});

function add_comment(task_id, comment) {
    data = {'comment': comment};
    $.ajax({
        type: 'PUT',
        url: '/api/tasks/' + task_id + '/comment',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json'
    })
    .done(function(xhr, status) {
        console.log('Done: ' + status);
        $('#addCommentModal').modal('hide');
        fetch_tasks();
    })
    .fail(function(xhr, status) {
        console.log('Fail: ' + status);
        $('#errorMessage').text('FAIL');
    });
}

function start_progress(task_id, comment) {
    data = {'comment': comment};
    $.ajax({
        type: 'PUT',
        url: '/api/tasks/' + task_id + '/status/processing',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json'
    })
    .done(function(xhr, status) {
        console.log('Done: ' + status);
        $('#startProgressModal').modal('hide');
        fetch_tasks();
    })
    .fail(function(xhr, status) {
        console.log('Fail: ' + status);
        $('#errorMessage').text('FAIL');
    });
}

function finish_task(task_id, comment, price) {
    data = {'comment': comment, 'price': price};
    $.ajax({
        type: 'PUT',
        url: '/api/tasks/' + task_id + '/status/finished',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json'
    })
    .done(function(xhr, status) {
        console.log('Done: ' + status);
        $('#finishTaskModal').modal('hide');
        fetch_tasks();
    })
    .fail(function(xhr, status) {
        console.log('Fail: ' + status);
        $('#errorMessage').text('FAIL');
    });
}

function archive_task(task_id, comment) {
    data = {'comment': comment};
    $.ajax({
        type: 'PUT',
        url: '/api/tasks/' + task_id + '/archived',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json'
    })
    .done(function(xhr, status) {
        console.log('Done: ' + status);
        $('#archiveTaskModal').modal('hide');
        fetch_tasks();
    })
    .fail(function(xhr, status) {
        console.log('Fail: ' + status);
        $('#errorMessage').text('FAIL');
    });
}
</script>

<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _('AddComment') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <span id="errorMessage"></span>
        <form>
          <div class="form-group">
            <label for="message-text" class="form-control-label">{{ _('Comment') }}:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button type="button" class="btn btn-primary" id="addCommentSubmit">{{ _('Submit') }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="startProgressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _('StartProgress') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <span id="errorMessage"></span>
        <form>
          <div class="form-group">
            <label for="message-text" class="form-control-label">{{ _('Comment') }}:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button type="button" class="btn btn-primary" id="startProgressSubmit">{{ _('Submit') }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="finishTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _('FinishTask') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <span id="errorMessage"></span>
        <form>
          <div class="form-group">
            <label for="message-text" class="form-control-label">{{ _('Comment') }}:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="price" class="form-control-label">{{ _('Price') }}:</label>
            <input type="text" class="form-control" id="price"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button type="button" class="btn btn-primary" id="finishTaskSubmit">{{ _('Submit') }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="archiveTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _('ArchiveTask') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <span id="errorMessage"></span>
        <form>
          <div class="form-group">
            <label for="message-text" class="form-control-label">{{ _('Comment') }}:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button type="button" class="btn btn-primary" id="archiveTaskSubmit">{{ _('Submit') }}</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#addCommentModal').on('show.bs.modal', function(event) {
  $('#message-text').val("");
  $('#addCommentSubmit').unbind();
  $('#addCommentSubmit').on('click', function(){
    var button = $(event.relatedTarget);
    var task_id = button.data('task_id');
    //addCommnet(event.relatedTarget);
    $(event.relatedTarget).addClass("btn-info");
    //todo sem by malo prist ajaxove volanie ulozenia komentaru
    add_comment(task_id, $('#message-text').val());
  });
});

$('#startProgressModal').on('show.bs.modal', function(event) {
  $('#message-text').val("");
  $('#startProgressSubmit').unbind();
  $('#startProgressSubmit').on('click', function(){
    var button = $(event.relatedTarget);
    var task_id = button.data('task_id');
    //addCommnet(event.relatedTarget);
    $(event.relatedTarget).addClass("btn-info");
    //todo sem by malo prist ajaxove volanie ulozenia komentaru
    start_progress(task_id, $('#message-text').val());
  });
});

$('#finishTaskModal').on('show.bs.modal', function(event) {
  $('#message-text').val("");
  $('#price').val("");
  $('#finishTaskSubmit').unbind();
  $('#finishTaskSubmit').on('click', function(){
    var button = $(event.relatedTarget);
    var task_id = button.data('task_id');
    //addCommnet(event.relatedTarget);
    $(event.relatedTarget).addClass("btn-info");
    //todo sem by malo prist ajaxove volanie ulozenia komentaru
    finish_task(task_id, $('#message-text').val(), $('#price').val());
  });
});

$('#archiveTaskModal').on('show.bs.modal', function(event) {
  $('#message-text').val("");
  $('#archiveTaskSubmit').unbind();
  $('#archiveTaskSubmit').on('click', function(){
    var button = $(event.relatedTarget);
    var task_id = button.data('task_id');
    //addCommnet(event.relatedTarget);
    $(event.relatedTarget).addClass("btn-info");
    //todo sem by malo prist ajaxove volanie ulozenia komentaru
    archive_task(task_id, $('#message-text').val());
  });
});

</script>

<script>
function addCommnet(element){
  var commentEl = $(element).closest('td').siblings('.koment');
  var previousText = commentEl.html();

  var addedText = $('#message-text').val();
  if(previousText){
      commentEl.html(previousText);
      commentEl.append("<br/>").append(addedText);
  }
  else{
    commentEl.append(addedText);
  }
  $('#exampleModal').modal('toggle');
}
</script>

{% endblock %}
