{% extends "layout.html" %}

{% block body %}
    {% if current_user.is_authenticated %}
        {{ current_user }}
    {% endif %}

<div class="container">

    <div id="create_task" class="row">

      <div class="col-12">
      <form action="/create_task" method="POST">
{% if current_user.is_admin() %}
      <div class="form-group">
         <label for="exampleFormControlInput1">Assigned to:</label>

          <select name="assigned_to_id" id="assigned_to_id" class="form-control">
            {% for u in active_users %}
              <option value="{{ u.id }}">{{ u.username }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">
            Origin:
        </label>

            <input type="text" name="origin" id="origin" class="form-control"/>

      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">
          Destination:
        </label>
          <input type="text" name="destination" id="destination" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">
          Comment:
        </labe>

          <input type="text" name="comment" id="comment" class="form-control"/>

      </div>
      <div class="form-group">

          <input type="submit" value="Create" class="form-control"/>

{% endif %}

          <button id="btn" class="form-control">Load</button>

      </div>

      </form>
    </div>
    </div>

    <div class="row">
        <div class="col"
          <div id="tasks" class="table-responsive"/>
        </div>
    </div>

</div>

<div id="start_progress_div" style="display: none;">
</div>

<script id="mp_template" type="text/template">
        <table class="table table-bordered">
            <thead>
                <td>ID</td>
                <td>Created At</td>
                <td>Created By</td>
                <td>Assigned To</td>
                <td>Origin</td>
                <td>Destination</td>
                <td>Comments</td>
                <td>Status</td>
                <td>Archived</td>
                <td>Price</td>
                <td>&nbsp;</td>
            </thead>
            <tbody>
            <%#.%>
            <tr>
                <td><% id %></td>
                <td><% created_at %></td>
                <td><% created_by %></td>
                <td><% assigned_to %></td>
                <td><% origin %></td>
                <td><% destination %></td>
                <td style="white-space:pre"><% comments %></td>
                <td><% status %></td>
                <td><% archived %></td>
                <td><% value %></td>
                <td>
                    <%#can_start_progress %>
                    <form action="/start_progress/<% id %>" method="post">  <div class="form-group"><input type="submit" value="Start progress" class="form-control"/></div></form>
                    <%/can_start_progress %>
                    <%#can_add_comment %>
                    <form action="/comment_task/<% id %>" method="post"><div class="form-group"><input type="submit" value="Add comment" class="form-control"/></div></form>
                    <%/can_add_comment %>
                    <%#can_finish_task %>
                    <form action="/finish_task/<% id %>" method="post"><div class="form-group"><input type="submit" value="Finish task" class="form-control"/></div></form>
                    <%/can_finish_task %>
                    <%#can_archive_task %>
                    <form action="/archive_task/<% id %>" method="post"><div class="form-group"><input type="submit" value="Archive task" class="form-control"/></div></form>
                    <%/can_archive_task %>
                    <%#can_edit_task %>
                    <form action="/edit_task/<% id %>" method="post"><div class="form-group"><input type="submit" value="Edit task" class="form-control"/></div></form>
                    <%/can_edit_task %>
                </td>
            </tr>
            <%/.%>
            </tbody>
        </table>
</script>

<script>
function fetch_tasks() {
        $.getJSON('http://localhost:5000/tasks', function (tasks) {
            var template = $("#mp_template").html();
            var text = Mustache.render(template, tasks);
            $("#tasks").html(text);
        });
}

$(function () {
    $("#btn").on('click', fetch_tasks);
    fetch_tasks();
    window.setInterval(fetch_tasks, 10000);
});
</script>

{% endblock %}
